<?xml version="1.0" encoding="UTF-8"?>
<Response>
  <Gather input="dtmf" numDigits="1" action="https://30s1ugvyol.execute-api.eu-north-1.amazonaws.com/default/TwilMainRedirector" timeout="5">
    <Say>Please select what you want by pressing the appropriate number.</Say>
    <Say>Press 1 if you want some jokes, this is the only one that actually works</Say>
    <Say>Press 2 if you want your future predicted.</Say>
    <Say>Press 3 if you want something else.</Say>
  </Gather>
  <!-- If no input -->
  <Say>No input detected, try again.</Say>
  <Redirect method="GET">./menu.xml</Redirect>
</Response>